In [8]:
import pandas as pd
import scipy.stats

In [5]:
train = pd.read_csv('train.csv')
test1 = pd.read_csv('test1.csv')
test2 = pd.read_csv('test2.csv')

In [6]:
train.head()

,Unnamed: 0,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,1849,26/05/2004,19.00.00,-200,1130.0,-200.0,"22,7",1368.0,-200.0,933.0,-200.0,1709.0,1269.0,"26,7","19,5","0,6754",NaN,NaN
1,2533,24/06/2004,07.00.00,"1,2",1030.0,-200.0,"6,9",851.0,102.0,824.0,68.0,1700.0,983.0,"21,9","57,0","1,4742",NaN,NaN
2,3047,15/07/2004,17.00.00,"3,2",1164.0,-200.0,"20,3",1306.0,259.0,648.0,198.0,1886.0,1218.0,"35,5","19,1","1,0888",NaN,NaN
3,805,13/04/2004,07.00.00,"3,9",1496.0,524.0,"19,1",1272.0,328.0,667.0,130.0,2011.0,1399.0,"11,0","64,2","0,8398",NaN,NaN
4,2962,12/07/2004,04.00.00,-200,780.0,-200.0,"1,8",568.0,24.0,1200.0,34.0,1331.0,501.0,"19,9","51,3","1,1803",NaN,NaN

### Kolmogorovâ€“Smirnov test

In [9]:
ksm1 = scipy.stats.ks_2samp(train['NO2(GT)'], test1['NO2(GT)'])
ksm1

KstestResult(statistic=np.float64(0.0190625), pvalue=np.float64(0.9721940612395358), statistic_location=np.float64(72.0), statistic_sign=np.int8(-1))

In [10]:
ksm2 = scipy.stats.ks_2samp(train['NO2(GT)'], test2['NO2(GT)'])
ksm2

KstestResult(statistic=np.float64(0.4075), pvalue=np.float64(7.2019977111245e-96), statistic_location=np.float64(108.0), statistic_sign=np.int8(1))